@media (max-width: 1200px)
    .container
        width: 960px
        margin: 0px auto
    .square
        right: -25px
        bottom: -40px
    .menu_wrap
        display: none
    .btn, .phone
        display: none
    .promo_btn, .card_btn
        display: block
    .contact
        .hamburger
            display: block
            cursor: pointer
            width: 50px
            z-index: 20
            span
                display: block
                width: 10px
                height: 10px
                background-color: #19422f
                border-radius: 100%
                margin: 5px auto
    .phone_icon
        width: 50px
        height: 50px
        background-color: #19422f
        border-radius: 100%
        display: flex
        justify-content: center
        box-shadow: 0 0 10px rgba(25, 66, 47, .8)

    .content_active
        width: 440px
    
    .info_virtues
        justify-content: space-between
        .virtues
            text-align: center
    .slick-next, .slick-prev
        display: none
    .choice_filter
        flex-direction: column
        align-items: center
        .filter_item
            margin: 25px 0px 0px 0px
            width: 500px
        #filter_btn
            margin-top: 35px

@media (max-width: 992px)
    .container
        width: 720px
    .promo_wrap
        flex-direction: column
        align-items: center
        margin-top: 10px
    .promo_text, .promo_text-slide
        text-align: center
    .pos
        position: initial
    .promo_btn
        margin: 32px auto
        line-height: 2.7
    .promo_img
        margin-top: 30px
    .switch
        margin-top: 75px
        justify-content: center
    .info
        padding-top: 90px
        &_wrap
            flex-direction: column
            align-items: center
        &_table
            margin-top: 40px
        .tabs
            justify-content: center
    .complexes_text
        width: 330px
        margin-left: 15px
    .complexes_block
        display: none

    .purchase
        margin-top: 150px
        .title
            margin-bottom: 0px
        &_wrap
            flex-direction: column
        .content_active
            width: 100%
        .calc_wrap
            margin: 55px auto 0px
    .slick-dots
        margin-left: 50%
        transform: translateX(-50%)
    .block_link
        font-size: 18px
        margin-left: 30px

@media (max-width: 768px)
    .container
        width: 540px
    .square
        width: 480px
        height: 341px
    .promo_img_item, .promo_img_item-slide
        width: 500px
    .info_virtues
        flex-wrap: wrap
    .complexes_wrap
        flex-direction: column
    .complexes_text
        width: 95%
        margin-top: 20px
    .choice
        margin-top: 250px
    .purchase
        .content_active
            width: 75%
    .block_link
        font-size: 14px
        img
            width: 25px
            margin-right: 5px
    .ocean_info
        margin-top: 15px
    .layouts
        margin-top: 90px

@media (max-width: 576px)
    .container
        width: 95%
    .menu_wrap
        width: 190px
    .search_item
        width: 80%
        margin-left: 20px
    .promo_img_item, .promo_img_item-slide
        width: 100%
    .square
        width: 295px
        height: 190px
    .promo_title
        font-size: 28px
    .info_title
        text-align: center
    .content_active
        width: 100%
    .info_img
        width: 100%
    .info_virtues
        flex-direction: column
        align-items: center
    .virtues_title
        margin: 5px 0 10px 0
    .virtues
        margin-top: 45px
    .info_virtues
        margin-top: 65px
    .title
        text-align: center
    .choice_filter .filter_item
        width: 95%
